<%- include('./components/head'); -%>

    <body>
        <div class="content-wrapper bg-light">
            <%- include('./components/header'); -%>
                <section class="wrapper gradient-8 bg-lines">
                    <div class="container pt-17 pt-md-19 pb-18 text-center">
                        <div class="row">
                            <div class="col-lg-10 col-xl-9 col-xxl-8 mx-auto" data-cues="zoomIn" data-group="page-title"
                                data-interval="-200" data-delay="500">
                                <h1 class="display-1 fs-68 lh-xxs mb-8 text-white">
                                    İletişim Formu
                            </div>
                        </div>
                    </div>
                </section>
                <section class="container mx-auto ">
                    <div class="row gx-md-5 gy-5 mt-n19 mb-14 mb-md-17">
                        <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
                            <form class="contact-form" method="post" action="/contacts">
                                <div class="messages"></div>
                                <div class="row gx-4">
                                    <div class="col-md-6">
                                        <div class="form-floating mb-4">
                                            <input id="form_name" type="text" name="name" class="form-control"
                                                placeholder="Jane" required="">
                                            <label for="form_name">First Name *</label>
                                            <div class="valid-feedback"> Looks good! </div>
                                            <div class="invalid-feedback"> Please enter your first name. </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating mb-4">
                                            <input id="form_lastname" type="text" name="surname" class="form-control"
                                                placeholder="Doe" required="">
                                            <label for="form_lastname">Last Name *</label>
                                            <div class="valid-feedback"> Looks good! </div>
                                            <div class="invalid-feedback"> Please enter your last name. </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating mb-4">
                                            <input id="form_email" type="email" name="email" class="form-control"
                                                placeholder="jane.doe@example.com" required="">
                                            <label for="form_email">Email *</label>
                                            <div class="valid-feedback"> Looks good! </div>
                                            <div class="invalid-feedback"> Please provide a valid email address. </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-floating mb-4">
                                            <textarea id="form_message" name="message" class="form-control"
                                                placeholder="Your message" style="height: 150px" required=""></textarea>
                                            <label for="form_message">Message *</label>
                                            <div class="valid-feedback"> Looks good! </div>
                                            <div class="invalid-feedback"> Please enter your messsage. </div>
                                        </div>
                                    </div>
                                    <div class="col-12 text-center">
                                        <input type="submit" class="btn btn-primary rounded-pill btn-send mb-3"
                                            value="Send message">
                                        <p class="text-muted"><strong>*</strong> These fields are required.</p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </section>
        </div>
        <%- include('./components/footer'); -%>
            <%- include('./components/script'); -%>
    </body>

    </html>