<%- include('./components/head'); -%>
    <body>
        <div class="content-wrapper bg-light">
            <%- include('./components/header'); -%>

                <section class="wrapper gradient-8 bg-lines">
                    <div class="container pt-17 pt-md-19 mb-18 text-center">
                        <div class="row">
                            <div class="col-lg-10 col-xl-9 col-xxl-8 mx-auto" data-cues="zoomIn" data-group="page-title"
                                data-interval="-200" data-delay="500">
                                <h1 class="display-1 fs-68 lh-xxs mb-8 text-white">
                                    Ücretsiz
                            </div>
                        </div>
                    </div>
                </section>

                <section class="wrapper mb-18">
                    <div class="container">
                        <h4>
                            Hoş Geldiniz!
                        </h4>
                        <p>
                            Burada ücretsiz olarak CV örneklerini indirebilirsiniz. CV'nizi oluştururken size rehberlik edecek ve dikkat çekici bir özgeçmiş hazırlamanıza yardımcı olacak örnekleri burada bulabilirsiniz. Uzmanlarımız tarafından hazırlanan çeşitli sektörlere uygun CV örnekleriyle, iş başvurularınızı daha etkileyici hale getirebilirsiniz. <br> <br>
                            İndirme işlemine başlamak için lütfen <a href="/create-cv"> formu </a> doldurun. Ayrıca, özgeçmiş hazırlama ipuçları ve güncel iş başvuru stratejileri için bizi takip etmeye devam edin! <br>
                            <br>
                            Unutmayın, doğru CV ile hayalinizdeki işe bir adım daha yakınsınız. Başarılar dileriz!  
                        </p>
                    </div>
                </section>
        </div>
        <%- include('./components/footer'); -%>
            <%- include('./components/script'); -%>
    </body>

    </html>