<%- include('./components/head'); -%>

<body>
  <div class="content-wrapper bg-light">
    <%- include('./components/header'); -%>
    <section class="wrapper gradient-8 bg-lines">
      <div class="container pt-17 pt-md-19 text-center">
        <div class="row">
          <div class="col-lg-10 col-xl-9 col-xxl-8 mx-auto" data-cues="zoomIn" data-group="page-title" data-interval="-200" data-delay="500">
            <h1 class="display-1 fs-68 lh-xxs mb-8 text-white">
              Özgeçmiş Yazma Hizmeti
            </h1>
          </div>
        </div>
      </div>
    </section>


    <section class="wrapper mb-18">
      <div class="container">
          <div class="pricing-wrapper mb-4">
              <div class="shape bg-dot primary rellax w-16 h-18" data-rellax-speed="1"></div>
              <div class="row gy-6 mt-3 mt-md-5">
                  <div class="col-md-6 col-lg-4">
                      <div class="pricing card text-center">
                          <div class="card-body">
                              <img src="assets/img/icons/lineal/shopping-basket.svg"
                                  class="svg-inject icon-svg icon-svg-md text-primary mb-3" alt="">
                              <h4 class="card-title">Temel Plan</h4>
                              <div class="prices text-dark">
                                  <div class="price price-show"><span class="price-currency">$</span><span
                                          class="price-value">2</span> <span
                                          class="price-duration">aylık</span></div>
                                  <div class="price price-hide price-hidden"><span
                                          class="price-currency">$</span><span
                                          class="price-value">20</span> <span
                                          class="price-duration">yıllık</span></div>
                              </div>
                              <!--/.prices -->
                              <ul class="icon-list bullet-bg bullet-soft-primary mt-8 mb-9 text-start">
                                  <li><i class="uil uil-check"></i><span><strong>20</strong> CV
                                      </span></li>
                                  <li><i class="uil uil-check"></i><span><strong>2</strong> Özel CV
                                      </span></li>
                                  <li><i class="uil uil-times bullet-soft-red"></i><span> Haftalık 
                                          <strong>Rapor</strong> </span></li>
                                  <li><i class="uil uil-times bullet-soft-red"></i><span> 7/24
                                          <strong>Destek</strong></span></li>
                              </ul>
                              <a href="#" class="btn btn-primary rounded-pill">Planı Seçin</a>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6 col-lg-4 popular">
                      <div class="pricing card text-center">
                          <div class="card-body">
                              <img src="assets/img/icons/lineal/home.svg"
                                  class="svg-inject icon-svg icon-svg-md text-primary mb-3" alt="">
                              <h4 class="card-title">Premium Plan</h4>
                              <div class="prices text-dark">
                                  <div class="price price-show"><span class="price-currency">$</span><span
                                          class="price-value">9</span> <span
                                          class="price-duration">aylık</span></div>
                                  <div class="price price-hide price-hidden"><span
                                          class="price-currency">$</span><span
                                          class="price-value">29</span> <span
                                          class="price-duration">yıllık</span></div>
                              </div>
                              <ul class="icon-list bullet-bg bullet-soft-primary mt-8 mb-9 text-start">
                                  <li><i class="uil uil-check"></i><span><strong>50</strong> Cv 
                                      </span></li>
                                  <li><i class="uil uil-check"></i><span><strong>5</strong> Özel CV
                                      </span></li>
                                  <li><i class="uil uil-check"></i><span>Haftalık
                                          <strong>Rapor</strong></span></li>
                                  <li><i class="uil uil-times bullet-soft-red"></i><span> 7/24
                                          <strong>Destek</strong></span></li>
                              </ul>
                              <a href="#" class="btn btn-primary rounded-pill">Planı Seçin</a>
                          </div>
                          <!--/.card-body -->
                      </div>
                      <!--/.pricing -->
                  </div>
                  <div class="col-md-6 offset-md-3 col-lg-4 offset-lg-0">
                      <div class="pricing card text-center">
                          <div class="card-body">
                              <img src="assets/img/icons/lineal/briefcase-2.svg"
                                  class="svg-inject icon-svg icon-svg-md text-primary mb-3" alt="">
                              <h4 class="card-title">Kurumsal Plan</h4>
                              <div class="prices text-dark">
                                  <div class="price price-show"><span class="price-currency">$</span><span
                                          class="price-value">29$</span> <span
                                          class="price-duration">aylık</span></div>
                                  <div class="price price-hide price-hidden"><span
                                          class="price-currency">$</span><span
                                          class="price-value">129</span> <span
                                          class="price-duration">yıllık</span></div>
                              </div>
                              <ul class="icon-list bullet-bg bullet-soft-primary mt-8 mb-9 text-start">
                                  <li><i class="uil uil-check"></i><span><strong>Sınırsız</strong> CV 
                                      </span></li>
                                  <li><i class="uil uil-check"></i><span><strong>10</strong>Özel Cv
                                      </span></li>
                                  <li><i class="uil uil-check"></i><span> Haftalık
                                          <strong>Rapor</strong></span></li>
                                  <li><i class="uil uil-check"></i><span> 7/24
                                          <strong>Destek</strong></span></li>
                              </ul>
                              <a href="#" class="btn btn-primary rounded-pill"> Planı Seçin</a>
                          </div>
                          <!--/.card-body -->
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  </div>
  <%- include('./components/footer'); -%>
  <%- include('./components/script'); -%>
</body>

</html>