<div class="footer">
    <div class="copyright">
       <p>Copyright © Developed by <a href="/" target="_blank"> Dayanch</a>  <script>document.write(new Date().getFullYear())</script></p>
    </div>
</div>