<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<meta name="robots" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Pro Cv">
	<meta property="og:title" content="Pro Cv">
	<meta property="og:description" content="Pro Cv">
	<meta property="og:image" content="https://yeshadmin.dexignzone.com/xhtml/social-image.png">
	<meta name="format-detection" content="telephone=no">
	<title>Pro Cv - Panel</title>
	<link rel="shortcut icon" type="image/png" href="/panel/images/favicon.png">
	<link href="/panel/vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
	<link href="/panel/vendor/swiper/css/swiper-bundle.min.css" rel="stylesheet">
	<link href="/panel/vendor/swiper/css/swiper-bundle.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.6.4/nouislider.min.css">
	<link href="/panel/vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet">
	<link href="https://cdn.datatables.net/buttons/1.6.4/css/buttons.dataTables.min.css" rel="stylesheet">
	<link href="/panel/vendor/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
	<link href="/panel/vendor/tagify/dist/tagify.css" rel="stylesheet">
	<link href="/panel/css/style.css" rel="stylesheet">
	<link href="/panel/vendor/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css"
		crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>