<section class="container mx-auto">
    <div class="d-flex justify-content-center">
        <div class="mb-5">
            <h1 class="text-center">
                Başarıyla Başvurun
            </h1>
            <p class="text-center pt-4">
                CV oluşturucunun yardımıyla profesyonel özgeçmişiniz her zaman elinizin altında. İster özgeçmiş oluşturucumuzla hızlı ve kolay bir şekilde kendiniz oluşturmaya karar verin, ister profesyonellerimiz tarafından özel olarak hazırlatın; özgeçmişiniz her zaman kalabalığın arasından sıyrılır.
            </p>
        </div>
    </div>
</section>