<section class="container">
    <div class="row gx-lg-0 gy-10 align-items-center mb-15 mb-lg-18 mobile_resume2">
      <div class="item col-md-12">
        <div class="card shadow-lg mb-3">
          <a href="/create-cv" class="text-dark">
            <div class="card-body">
              <div class="card_flex">
                <div class="mb-3">
                  <div class="icon btn btn-circle btn-lg btn-soft-purple disabled mx-auto me-4 mb-lg-3 mb-xl-0">
                    <i class="uil uil-presentation-check"></i>
                  </div>
                </div>
                <div>
                  <h3 class="mb-1">Hızlı ve kolay özgeçmiş oluşturucu</h3>
                  <p class="mb-0">Çevrimiçi CV üreticimizle, herkesin hızlı bir şekilde profesyonel bir
                    özgeçmiş oluşturması basittir. Kişisel bilgilerinizi girin ve özgeçmiş içeriğinizi
                    doldurmaya başlayın. Son olarak, mevcut 36 özgeçmiş düzenimizden birini seçin ve
                    özgeçmişinizi indirin.</p>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="item col-md-12">
        <div class="card shadow-lg mb-3">
          <a href="/create-cv" class="text-dark">
            <div class="card-body">
              <div class="card_flex">
                <div class="mb-3">
                  <div class="icon btn btn-circle btn-lg btn-soft-purple disabled mx-auto me-4 mb-lg-3 mb-xl-0">
                    <i class="uil uil-presentation-check"></i>
                  </div>
                </div>
                <div>
                  <h3 class="mb-1">İş bulma olasılığı daha yüksek</h3>
                  <p class="mb-0">Temsilci ve profesyonel bir özgeçmiş ile diğer tüm başvuru sahipleri
                    arasında öne çıkacaksınız. Muhtemelen profesyonel bir Özgeçmiş ile röportaja davet edilme
                    olasılığınız daha yüksektir.</p>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="item col-md-12">
        <div class="card shadow-lg mb-3">
          <a href="/create-cv" class="text-dark">
            <div class="card-body">
              <div class="card_flex">
                <div class="mb-3">
                  <div class="icon btn btn-circle btn-lg btn-soft-purple disabled mx-auto me-4 mb-lg-3 mb-xl-0">
                    <i class="uil uil-presentation-check"></i>
                  </div>
                </div>
                <div>
                  <h3 class="mb-1">Uygulamalarınızı düzenleyin</h3>
                  <p class="mb-0">Çoğu zaman özgeçmişinizi başvurmak istediğiniz işe göre uyarlamak önemlidir.
                    CV oluşturucuyla, kendi kişisel hesap merkeziniz aracılığıyla birkaç farklı özgeçmişi
                    organize bir şekilde oluşturabilir ve yönetebilirsiniz.</p>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>