<section class="wrapper gradient-8 bg-lines pb-12">
    <div class="container pt-10 text-center">
      <div class="row">
        <div class="col-lg-10 col-xl-9 col-xxl-8 mx-auto" data-cues="zoomIn" data-group="page-title" data-interval="-200" data-delay="500">
          <h1 class="display-1 fs-68 lh-xxs mb-8 text-white">
            İş bulma şansınızı önemli ölçüde artırın
          </h1>
          <p class="text-white">
            CV oluşturucuyla 15 dakika içinde hızlı ve kolay bir şekilde farklı ve profesyonel bir özgeçmiş oluşturabilirsiniz.
          </p>
          <div class="pb-3">
            <a href="/create-cv" class="btn_dark">Özgeçmişinizi Oluşturun</a>
          </div>
        </div>
      </div>
    </div>
  </section>